html {
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 333px;
    margin: 0;
    padding: 0px;
    /* background: #3c41c6; */
    background: #fd79a8;
    /* background-image: url('../img/bg.png'); */
    background-image: url('../img/star-opacuty.png');
}

nav {
    margin: 10px auto;
    /* padding: 10px; */
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(2, 1fr);
    /* justify-items: center; */
}

main {
    margin: 20px auto;
    overflow: auto;
    display: grid;
    justify-items: center;
    min-height: 90vh;
    max-width: 1024px;
    /* width: 100%; */
}

.photoWrap {
    width: 100%;
    height: 27vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.photoCard {
    width: 100%;
    height: 100%;
    min-height: 220px;
    background: #ffffff;
    border-radius: 10px;
}

.photo-area {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    padding: 10px;
    /* width: 100%; */
    height: 80%;
    background-color: #81ecec;
}

.Modal {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logoTxt {
    height: 100%;
    font-family: 'Barlow', sans-serif;
    display: grid;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.nav-user {
    height: 100%;
    font-family: 'Barlow', sans-serif;
    display: grid;
    align-items: center;
    justify-items: end;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: #222f3e;
    color: aliceblue;
}

@media (min-width: 900px) {
    .photoWrap {
        width: 100%;
        height: 27vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .photoCard {
        width: 300px;
        height: 100%;
        min-height: 220px;
        background: #ffffff;
        border-radius: 10px;
    }
}
.displayNone {
    display: none;
}

.displayGrid {
    display: grid;
}
